@font-face {
  font-family: 'SFProText';
  src: url('SFProText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url('SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}